{% include base_path %}



<div>
  <article>

    li {
    padding: 10px 0 0 0;
    margin: 30px 0;
    line-height: 10px;
    }

    <h3>
      <p> {{post.title}} </p>
    </h3>
    


        {% if post.with %}
          <p><i>{{ post.venue }}</i>, {{ post.wdate}}, {{post.issue}}.  {{post.with}}. </p>
        {% else%}
          <p><i>{{ post.venue }}</i>, {{ post.wdate}}, {{post.issue}}. </p>
        {% endif %}

        {% if post.prize1 %}
          <p> <br> {{post.prize1 }} </p>
        {% endif %}

        {% if post.prize2 %}
          <p>{{ post.prize2 }} </p>
        {% endif %}

        {% if post.prize3 %}
          <p>{{ post.prize3 }} </p>
        {% endif %}
    
          <p style="line-height:0.3"> <br> </p>


  </article>
</div>
