{% include base_path %}



<div>
  <article>
<style>
p {
  margin-top: 0em;
  margin-bottom: .5em;
}
</style>


    <h3>
      <p> {{post.title}} [<a href="robready.com/files/{{post.paperurl}}.pdf">PDF</a></p>
    </h3>
    


        {% if post.with %}
          <p> {{post.date}}. With {{post.with}}. </p>
        {%else%}
          <p>{{post.date}}.
        {% endif %}
   
        {% if post.prize1 %}
          <p> {{post.prize1 }} </p>
        {% endif %}

        {% if post.prize2 %}
          <p>{{ post.prize2 }} </p>
        {% endif %}

        {% if post.prize3 %}
          <p>{{ post.prize3 }} </p>
        {% endif %}
    
          <p style="line-height:0.2"> <br> </p>


  </article>
</div>
