{% include base_path %}



<div>
  <article>
<style>
p {
  margin-top: 0em;
  margin-bottom: .35em;
}
</style>


    <h4>
      <p> {{post.title}} </p>
    </h4>
    


        {% if post.with %}
          <p style="font-size:14px"> {{post.wdate}}. With {{post.with}}. [<a href="http://robready.com/files/{{post.paperurl}}.pdf" style="text-decoration: none; border-bottom: 1px solid red;">PDF</a>] </p>
        {% else %}
          <p style="font-size:14px">{{post.wdate}}. [<a href="http://robready.com/files/{{post.paperurl}}.pdf" style="text-decoration: none; border-bottom: 1px solid red;">PDF</a>] </p>
        {% endif %}
   
        {% if post.prize1 %}
          <p style="font-size:14px"> {{post.prize1 }} </p>
        {% endif %}

        {% if post.prize2 %}
          <p style="font-size:14px">{{ post.prize2 }} </p>
        {% endif %}

        {% if post.prize3 %}
          <p style="font-size:14px">{{ post.prize3 }} </p>
        {% endif %}
    
          <p style="line-height:0.15"> <br> </p>


  </article>
</div>
